body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #040404;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}


.field-error {
  font-size: 14px;
  color: red;
  margin-left: 5px;
}

.input input {
  display: inline-block;
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gray
}

.input input::placeholder {
  font-size: 16px;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #FF656D;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

.hr {
  border: .5px solid gray;
  opacity: .5;
  border-radius: 100%;
}

.login__hr {
  margin: 20px 0;
}

.question {
  color: #040404;;
  font-size: 13px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.question a {
  color: #4b4b4b;
  transition: opacity .1s ease;
}

.question a:hover {
  opacity: .6;
}

.error {
  margin: 10px 0;
}