.todo-tasks {
  overflow-x: scroll;
}

.todo-task__link a{
  text-decoration: underline;
}
.todo-task__link a:hover{
  text-decoration: none;
}


.table {
  width: 1370px;
  margin: 0 auto 20px;

  border: none;

  margin-bottom: 20px;
  border-collapse: collapse;
}

.table thead th {
  font-weight: bold;

  text-align: center;

  border: none;

  padding: 10px 15px;

  background: #d8d8d8;

  font-size: 14px;

  border-left: 1px solid #ddd;

  border-right: 1px solid #ddd;
}

.table tbody td {
  text-align: center;

  border-left: 1px solid #ddd;

  border-right: 1px solid #ddd;

  padding: 10px 15px;

  font-size: 14px;

  vertical-align: top;
}

.table thead tr th:first-child,
.table tbody tr td:first-child {
  border-left: none;
}

.table thead tr th:last-child,
.table tbody tr td:last-child {
  border-right: none;
}

.table tbody tr:nth-child(even) {
  background: #f3f3f3;
}
